<form action="/course/add" method="post">
    <p>
      <label> Course Name</label><input values="" name="courseName"/><br>
      <label> Course duration</label><input values="" name="courseDuration"/><br>
      <label> Course fees</label><input values="" name="courseFees"/>
      <button type="submit">Add Course</button>
    </p></input>
</form>